/* custom */
.markdown-section h3 {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem 0;
}

.markdown-section h3::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #3d83fb;
  border-radius: 5px;
  margin: 0.8rem 1rem 0 0.1rem;
  vertical-align: top;
  display: inline-block;
}

section.cover {
  background: #fff !important;
}
